# Azure Pipelines YAML
trigger:
  branches:
    include:
      - master
      - main

pool:
  vmImage: 'windows-latest'

steps:
- task: PowerShell@2
  displayName: 'Run Testsigma Script'
  inputs:
    filePath: 'testsigma_cicd.ps1'
    errorActionPreference: 'stop'
